@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 25% 95%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 220 44% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 20% 97%;
    --secondary-foreground: 215 28% 17%;
    --muted: 220 20% 97%;
    --muted-foreground: 215 16% 47%;
    --accent: 256 100% 87%;
    --accent-foreground: 256 30% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 88%;
    --input: 220 20% 88%;
    --ring: 220 44% 61%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 0 0% 98%;
    --card: 215 28% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 215 28% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 220 44% 61%;
    --primary-foreground: 0 0% 98%;
    --secondary: 215 28% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 28% 25%;
    --muted-foreground: 215 16% 70%;
    --accent: 256 100% 87%;
    --accent-foreground: 256 30% 25%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 30%;
    --input: 215 28% 30%;
    --ring: 220 44% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
